*{
    margin:0px;
    box-sizing: border-box;
}

header, footer,body{
    margin:0 auto;
    padding: 0;
    font-family:Arial, Verdana, sans-serif;
}
header a {
    color:white;
    text-decoration: none;
}

header {
    width:100%;
    height: 60px;
    background: black;

}
    header::after {
        content: '';
        clear: both;
        display: block;
    }

    header h1 {
        color:white;
    }

header .login {
    margin-top:20px;
}

header .login input  {
    margin: 2px;
}
header .logged-user-nav {
    margin:20px 0px 0px 200px;
}
header .logged-user-nav a {
    margin: 5px;
}

nav ul {
    list-style-type: none;
}

    nav ul li {
        display: inline;
        margin-left:10px;
    }


.container  {
    margin-left:auto;
    margin-right:auto;

}
.content {
    padding:30px;
}

.container::after {
    content: '';
    clear: both;
    display: block;
}


.wrapper {
    width:100%;
}
.row {
    width: 100%;
    margin:20px;
}
.row::after {
    content: '';
    clear: both;
    display: block;
}

.row-bg {
    width: 100%;
    background: ghostwhite;
}

.col-2 {
    width: 49.9%;
    float:left;
}


.col-3 {
    width:33.33333%;
    float:left;
}

section {
    width: 80%;
    border: 1px solid lightgray;
    height: 300px;
    float:left;
}
aside {
    width: 19.9%;
    border: 1px solid lightgray;
    height: 300px;
    float:left;
}

footer {
    height: 100px;
    background: #ddd;
    text-align: center;
}

/*Home pages*/
.last-projects-wrapper div {
    display: inline-block;
}

.last-projects-wrapper img {
    display: block;
    width: 220px;
    height: 120px;
}

.last-projects-wrapper a {
    color:black;
}

.last-activities {

    height: 300px;
    overflow-y: scroll;
}

/*Single project */
.project-date {
    font-style: italic;
    font-size: 35px;
}

.project-update {
    margin-top: 40px;
}


.project-comment {
    font-size:13px;
}
    .project-comment-date{
        font-style: italic;
    }
.project-post {
    font-size: 18px;
}

.wide {
    border: none;
    height: 5px;
    background: rgb(216,216,216); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(216,216,216,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(216,216,216,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.thin {
    border: none;
    height: 2px;
    background: rgb(216,216,216); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(216,216,216,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(216,216,216,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.project-photo {
    width: 30%;
    display: inline-block;
    margin:1%;
}
.project-photo img  {
    width: 100%;
    max-height: 200px;
    min-height: 200px;
}


/*Backgrounds*/

.bg-gray {
    background: #F8F8F8 ;
}
.bg-black {
    background: black;
}


@media only screen and (min-width: 1280px)  {
    .container  {
        width:1280px;

    }

}

/* Form Inputs */



.row input[type=text], .row input[type=email],.row input[type=password], .row select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background:white;
}

.row input[type=submit], button {
    width: 100%;
    background-color: #f2f2f2;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.row textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
}


/*@media screen and (max-width: 1280px) and (min-width: 1024px)   {*/
    /*.container  {*/
        /*!*width:1024px;*!*/

    /*}*/

/*}*/

/*@media screen and (max-width: 1024px) and (min-width: 768px)  {*/
    /*.container  {*/
        /*!*width:768px;*!*/

    /*}*/

/*}*/

/*@media only screen and (max-width: 768px)  and (min-width: 480px) {*/
    /*.container  {*/
        /*!*width:480px;*!*/

    /*}*/
    /**/

/*}*/
/*@media only screen and (max-width: 1280px)  and (min-width: 320px) {*/
    /*.container  {*/
        /*width:100%;*/

    /*}*/

/*}*/

@media only screen and (max-width: 768px)  {
    aside  {
        display: none;
    }
    section {
        width: 100%;
    }

}


@media only screen and (max-width: 320px)  {
    .container  {
        width:320px;

    }

}




.slider {
    width: 100%;

    height: 200px;
}

